<div class="container">
<h1> *ngFor Curso de Angular</h1>


<ul>
  <li *ngFor="let actor of actores">
    {{actor.actor_name}} - {{actor.character_name}}
  </li>
</ul>

<b> ngFor with template Attribute </b>
<ul>
  <ng-template ngFor let-actor [ngForOf]="actores" let-i="index" let-ispar="even" let-isImpar="odd">
    <li>
      <font color="blue" *ngIf="ispar">
        Row {{i}} : {{actor.actor_name}} - {{actor.character_name}}
      </font>
      <font color="red" *ngIf="isImpar">
        Row {{i}} : {{actor.actor_name}} - {{actor.character_name}}
      </font>
    </li>
  </ng-template>
</ul>

<div *ngFor="let actor of actores; index as i; first as isPrimero; last as isUltimo">
  <font color="blue" *ngIf="isPrimero; else elseBlock1">
    {{i + 1}}: {{actor.actor_name}} - {{actor.character_name}} - {{actor.status}}
  </font>
  <ng-template #elseBlock1>
    <font color="red" *ngIf="isUltimo; else elseBlock2">
      {{i + 1}}: {{actor.actor_name}} - {{actor.character_name}} - {{actor.status}}
    </font>
    <ng-template #elseBlock2>
      {{i + 1}}: {{actor.actor_name}} - {{actor.character_name}} - {{actor.status}}
    </ng-template>
  </ng-template>
</div>

<br>

<ng-template ngFor let-actor [ngForOf]="actores" let-i="index" let-isPrimero="first" let-isUltimo="last">
  <div>
    <font color="blue" *ngIf="isPrimero; else elseBlock1">
      {{i + 1}}: {{actor.actor_name}} - {{actor.character_name}} - {{actor.status}}
    </font>
    <ng-template #elseBlock1>
      <font color="red" *ngIf="isUltimo; else elseBlock2">
        {{i + 1}}: {{actor.actor_name}} - {{actor.character_name}} - {{actor.status}}
      </font>
      <ng-template #elseBlock2>
        {{i + 1}}: {{actor.actor_name}} - {{actor.character_name}} - {{actor.status}}
      </ng-template>
    </ng-template>
  </div>
</ng-template>
</div>

<br>
<div class="container">

  <table class="table table-striped">
    <thead>
      <tr>
        <td>Nombre</td>
        <td>Papel</td>
        <td>Estado</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let actor of actores">
        <td>{{actor.actor_name}}</td>
        <td>{{actor.character_name}}</td>
        <td>{{actor.status}}</td>
      </tr>
    </tbody>
  </table>
</div>